/** Stage Related **/
#canvas > * {
  margin: 1px;
  user-select: none;
}
#canvas .text {
  color: #fff;
  font-family: SimHei, SimSun, Heiti, "MS Mincho", "Meiryo", "Microsoft YaHei", monospace;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 100%;
  padding: 3px 0 0 0;
  position: absolute;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-size-adjust: none;
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform-origin: 0% 0%;
  white-space: pre;
  word-break: keep-all;
}

#canvas .frame {

}

#canvas .button {
  margin: 0;
  color: #fff;
  font-family: SimHei, SimSun, Heiti, "MS Mincho", "Meiryo", "Microsoft YaHei", monospace;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 100%;
  padding: 3px 0 0 0;
  position: absolute;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-size-adjust: none;
  text-align: center;
  white-space: pre;
  word-break: keep-all;
  background-color: #EFAB0A;
}
#canvas .button:hover {
  background-color: #82EED9;
}
#canvas .button.item-focus:hover {
  background-color: #EFAB0A;
}

#canvas .sprite {
  margin: 0;
  position: absolute;
  border: 1px #F4652D solid;
  background-repeat: no-repeat;
  background-position: center;
}
#canvas.preview .sprite {
  margin: 1px;
  border: none;
}
#canvas .sprite.no-image {
  background-color: #EFAB0A;
  background-size: auto !important;
  background-image: url(unknown-object.png);
  opacity: 0.8;
}
#canvas .sprite.item-focus {
  background-color: #82EED9;
  background-blend-mode: overlay;
  opacity: 0.8;
}
#canvas .sprite.no-image.item-focus {
  background-color: #82EED9;
}

#canvas .item-focus {
  margin: 0;
  border: 1px #72DEC9 solid;
}
