html {
  background-color: #262626;
}

body {
  color: #636363;
  font-family: Roboto, "Helvetica Neue Light" , "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "open-sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 10px;
}
input[type="text"], input[type="number"], textarea {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #424242;
  color: #838383;
  highlight: none;
}
input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
  outline: none;
  color: #72DEC9;
}
input[type="text"]:invalid, input[type="number"]:invalid, textarea:invalid {
  color: #ED5276;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  clear: both;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #262626; 
}
::-webkit-scrollbar-thumb {
    background: #72DEC9; 
}

/** Layout **/
.container {
  background-color: #262626;
  border: 1px #636363 dotted;
  position: absolute;
  overflow: hidden;
}

.inner {
  position: relative;
  padding: 0;
  float: left;
  min-width: 100%;
}

#left, #center, #right {
  position:fixed;
  top: 1px;
  bottom: 1px;
}

#left {
  left: 1px;
  width: 199px;
}
#center {
  left: 201px;
  right: 401px;
}
#right {
  right: 1px;
  width: 399px;
}

#timeline {
  top: 0;
  left: 0;
  right: 0;
  height: 198px;
  background: #323232;
  position: absolute;
}

#editor {
  top: 200px;
  left: 0;
  right: 0;
  bottom: 121px;
  position: absolute;
}

#messages {
  bottom: 0;
  left: 0;
  right: 0;
  height: 120px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}

/** General **/
.button {
  cursor: pointer;
  border: 1px #323232 solid; 
  user-select: none;
}
.button:hover {
  background-color: #636363;
  color: #323232;
}
.button.selected {
  color: #72DEC9;
  border: 1px #72DEC9 solid;
}
.button:focus {
  border: 1px #72DEC9 dashed;
  outline: none;
}

.checkerboard {
  background-image: url('checkerboard.png');
  background-repeat: repeat;
}

/** Mini-window **/
.mini-window {
  min-height: 200px;
  overflow: auto;
} 
.mini-window > h1:first-child {
  font-size: 1em;
  background-color: #363636;
  color: #72DEC9;
  padding: 10px;
  cursor: pointer;
  user-select: none;
}

/** Timeline Related **/
#timeline {
  overflow: auto;
}

#ruler {
  margin-left: 200px;
  height: 18px;
  background-image: url(ruler.png);
  background-repeat: repeat-x;
  background-position: left top;
}

#tracks { }
#slider {
  top: 0;
  min-height: 2px;
  height: 100%;
  width: 2px;
  left: 200px;
  position: absolute;
  background-color: #FFAF53;
  overflow: visible;
  user-drag: none; 
  user-select: none; 
}
#slider-value {
  background-color: #FFAF53;
  color: #000;
  margin-top: 8px;
  height: 10px;
  width: 40px;
  font-size: 8px;
  padding: 1px 3px 0 0;
  overflow: hidden;
  text-align: right;
  cursor: pointer;
  user-select: none;
}
#slider-value:hover {
  height: 16px;
  padding: 3px 6px 0 0;
  font-size: 10px;
  width: 60px;
}

#timeline .row {
  height: 36px;
  min-width: 2000px;
  border-top: 1px #636363 solid;
  position: relative;
  overflow: hidden;
}
#timeline .row > .row-label {
  position: absolute;
  top:0;
  left:0;
  bottom: 0;
  width: 198px;
  margin: 1px;
  background-color:#262626;
  cursor: pointer;
  user-select: none;
}
#timeline .row > .row-label:focus {
  margin: 0;
  border: 1px #72DEC9 dashed;
  outline: none;
}
#timeline .row > .row-label p {
  padding: 8px;
}
#timeline .row > .track {
  position: absolute;
  top:0;
  left: 200px;
  bottom: 0;
  right: 0;
  background-color: #333A42;
  cursor: pointer;
}
#timeline .row:hover > .row-label {
  background-color: #363636;
}
#timeline .row.selected > .track{
  background-color: #485058;
}
#timeline .row.selected > .row-label {
  color: #72DEC9;
}

/** Editor Related **/
#work-area {
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: auto;
  user-select: none;
}
#editor-tools {
  top: 0;
  left: 0;
  right: 0;
  height: 16px;
  background-color: #323232;
  padding: 2px;
  font-size: 10px;
  line-height: 14px;
}

#canvas {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  user-select: none;
}

#editor-tools .micro-button {
  width: 14px;
  height: 14px;
  border: 1px #636363 dotted;
  text-align: center;
}
#editor-tools .micro-button.selected {
  color: #72DEC9;
}

#editor-tools .input-area {
  padding: 0 5px 0 5px;
  user-select: none;
}

#editor-tools .input-area input[type="number"] {
  height: 14px;
  width: 40px;
  border: none;
  padding: 0 2px 0 2px;
  margin: 0;
}

#work-area .selection {
  position: absolute;
  border: 1px #72DEC9 dashed;
}

/** Toolbox **/
.tool-icon {
  width: 64px;
  height: 64px;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  user-select: none;
}

.tool-icon-sep {
  width: 100%;
  height: 4px;
  clear: both;
}

/** Messages Related **/
#messages p {
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  user-select: none;
}
#messages p:hover {
  color: #72DEC9;
  background-color: #363636;
}

/** Left box **/


/** Properties Related **/
.input-group {
  position: relative;
  padding: 10px;
  border-bottom: 1px #636363 dotted;
}
.input-group:hover {
  background-color: #424242;
  color: #72DEC9;
}
.input-group:hover > label {
  border-right: 1px #fff dotted;
}
.input-group:hover > input {
  background-color: #363636;
}
.input-group > label {
  display: block;
  width: 30%;
  font-size: 1.1em;
  float: left;
  border-right: 1px #636363 dotted;
  margin-right: 5%;
  user-select: none;
}
.input-group > input[type="text"], 
.input-group > input[type="number"], 
.input-group > textarea {
  width: 64%;
  font-size: 1.1em;
  float: left;
}