html {
  background-color: #262626;
}

body {
  color: #636363;
  font-family: Roboto, "Helvetica Neue Light" , "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "open-sans", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 10px;
}
input[type="text"],
input[type="number"],
textarea,
select {
  border: none;
  padding: 0;
  margin: 0;
  background-color: #424242;
  color: #838383;
  highlight: none;
}
input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  outline: none;
  color: #72DEC9;
}
input[type="text"]:invalid,
input[type="number"]:invalid,
textarea:invalid,
select:invalid {
  color: #ED5276;
}

.clickable, .clickable > * {
  cursor: pointer;
}

.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
    background: #262626;
}
::-webkit-scrollbar-thumb {
    background: #72DEC9;
}

/** Layout **/
.container {
  background-color: #262626;
  border: 1px #636363 dotted;
  position: absolute;
  overflow: hidden;
}

.inner {
  position: relative;
  padding: 0;
  float: left;
  min-width: 100%;
}

.modal-group > .overlay {
 background-color: #636363;
 z-index: 9999;
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 opacity: 0.7;
}
.modal-group > .modal,
.modal-group > .modal-top,
.modal-group > .modal-bottom {
  position: absolute;
  left: 0;
  right: 0;
  width: 360px;
  height: 240px;
  padding: 10px;
  margin: auto;
  background-color: #262626;
  border: 1px #72DEC9 solid;
  color: #ffffff;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-group > .modal {
  top: 0;
  bottom: 0;
}
.modal-group > .modal-top {
  top: 10%;
}
.modal-group > .modal-bottom {
  bottom: 10%;
}
.modal-group h1,
.modal-group h2,
.modal-group h3 {
  color: #72DEC9;
}
.modal-group.error > .modal {
  border: 1px #d02626 solid;
}
.modal-group.error h1,
.modal-group.error h2,
.modal-group.error h3 {
  color: #d02626;
}
.modal-group.error > .overlay {
  opacity: 0.5;
  background: repeating-linear-gradient(
    45deg,
    #d02626,
    #d02626 10px,
    #f0a6a6 10px,
    #f0a6a6 20px
  );
}

/** Toolbars **/
.micro-toolbar {
  height: 16px;
  background-color: #323232;
  padding: 2px;
  font-size: 10px;
  line-height: 14px;
}

.micro-toolbar .btn-group {
  margin-right: 30px;
}

.micro-toolbar .btn-group .button,
.micro-toolbar .btn-group .button-separator {
  float: left;
}

.micro-toolbar .button-separator {
  width: 10px;
  height: 14px;
}
.micro-toolbar .button {
  min-width: 14px;
  height: 14px;
  line-height: 14px;
  border: 1px #636363 dotted;
  text-align: center;
}
.micro-toolbar .button.selected {
  color: #72DEC9;
}

.micro-toolbar .input-area {
  padding: 0 5px 0 5px;
  user-select: none;
}

.micro-toolbar .input-area input[type="number"] {
  height: 14px;
  width: 64px;
  border: none;
  padding: 0 2px 0 2px;
  margin: 0;
}

/** Buttons **/
.button {
  position: relative;
  cursor: pointer;
  border: 1px #323232 solid;
  user-select: none;
}
.button:hover {
  background-color: #636363;
  color: #323232;
}
.button.selected {
  color: #72DEC9;
  border: 1px #72DEC9 solid;
}
.button:focus {
  border: 1px #72DEC9 dashed;
  outline: none;
}
.button.btn-padded {
  padding: 10px;
}

/** Patches **/
.color-patch {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  background-color: #000000;
}

.checkerboard, #canvas.checkered, .color-patch.checkered {
  background-image: url('checkerboard.png');
  background-repeat: repeat;
}

/** Progress bars **/
div.progress {
  height: 20px;
  overflow: hidden;
  background-color: #363636;
}
div.progress div.bar {
  height: 20px;
  left: 0px;
  top: 0px;
  background-color: #72DEC9;
}

/** Mini-window **/
.mini-window {
  overflow: hidden;
  position: relative;
}
.mini-window > h1:first-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1em;
  background-color: #363636;
  color: #72DEC9;
  padding: 10px;
  height: 18px;
  cursor: pointer;
  user-select: none;
}
.mini-window > .body {
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.mini-window.collapse {
  height: 40px !important;
  background-color: #72DEC9;
}
.mini-window.collapse > .body {
  display: none;
}

/** LAYOUT **/
body > .layout-block {
  position: fixed;
  top: 1px;
  bottom: 1px;
}
