.tool-icon.cursor {
  background-image: url('icons/cursor.png');
}

.tool-icon.textbox {
  background-image: url('icons/textbox.png');
}

.tool-icon.sprite {
  background-image: url('icons/sprite.png');
}

.tool-icon.click-target {
  background-image: url('icons/clicktarget.png');
}

.tool-icon.frame {
  background-image: url('icons/frame.png');
}

.tool-icon.move-up {
  background-image: url('icons/move-up.png');
}

.tool-icon.move-down {
  background-image: url('icons/move-down.png');
}

.tool-icon.play {
  background-image: url('icons/play-pause.png');
}

.tool-icon.stop {
  background-image: url('icons/stop.png');
}

.tool-icon.rec {
  background-image: url('icons/rec.png');
}

.tool-icon.rw {
  background-image: url('icons/rw.png');
}

.tool-icon.ff {
  background-image: url('icons/ff.png');
}
