/** Left bar **/
#toolbox {
  height: 360px;
}

#ordering {
  height: 106px;
}

#playback {
  height: 200px;
}

#export {
  height: 200px;
}

#import {
  height: 200px;
}

/** Right bar **/
#library {
  height: 350px;
}

#animation {
  height: 300px;
}

#properties {
  height: 420px;
}

#macros {
  height: 200px;
}

#layers {
  height: 320px;
}
